.scrollToTopButton {
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 10px 15px;
    background-color: lightgrey;
    color: black;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: opacity 0.3s;
}

.scrollToTopButton:hover {
    color: white;
    background-color: goldenrod;
}

.scrollToTopButton:active {
    transform: scale(0.95);
}