.container {
    max-width: 1000px;
    margin: 80px auto;
    padding: 10px;
}

.loading {
    text-align: center;
    margin: auto;
}

.subtitle {
    border-radius: 8px;
    padding: 10px;
    background-color: #f8f9fa;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 10px;
    text-align: center;
}